body {
    background-color: white;
}

#container {
    width: 800px;
    margin: auto;
    background-color: white;
}

header {
    padding: 40px;
    height: 80px;
}

nav {
    padding: 8px 40px;
    background-color: #a4c1d7;
    color: #fefefe;
    font-size:1.1rem
}

article {
    padding: 40px;
    min-height : 400px;
    font-size: 1.2rem
}

footer {
    padding: 40px;
    height: 40px;
    background-color : #a4c1d7;
    color: black;
    font-size: 1rem
}
